button.call-to-action {
    background-color: green;
}

button:hover {
    padding: 18px;
    border-radius: 8px;
    margin: 6px;
}

body {
    color: black;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-item {
    border: 2px solid black;
    border-radius: 8px;
    padding: 50px;
    background-color: lightgrey;
}

.asshole-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.asshole {
    border: 2px solid black;
    border-radius: 100px;
    padding: 50px;
    color: mediumblue;
    background-color: tan;
}

.asshole1 {
    flex-grow: 1;
    text-align: center;
}

.asshole2 {
    flex-grow: 10;
    text-align: center;
}

.asshole3 {
    flex-grow: 3;
    text-align: center;
}